.options-bar--default {
    position: absolute;
    top: auto;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    width: 770px;
    height: 110px;
    left: auto;
    bottom: auto;
    color: rgb(255, 255, 255);
}

.options-bar--home {
    position: absolute;
    left: auto;
    align-items: center;
    width: 770px;
    height: 110px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: flex-end;
    right: 48%;
}
